@import '../../../styles/color';

.container {
	color: $primary_2;
	display: flex;
	align-items: center;
	font-weight: 500;

	.icon {
		font-size: 26px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 8px;
	}
}

.item {
	white-space: nowrap;

	&:hover {
		text-decoration: underline;
	}
	&.last {
		color: $neutral_2;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-word;
		-webkit-line-clamp: 1;

		&:hover {
			cursor: default;
			text-decoration: none;
		}
	}
}

@media (max-width: 764px) {
	.container {
		font-size: 12px;

		.icon {
			font-size: 16px;
			padding: 0;
		}
	}
}
