@import '../../../../styles/color';

.container {
	padding: 24px 0;
}

.title {
	font-weight: 600;
	font-size: 26px;
	color: $t_neutrals;

	span {
		color: rgb(225, 150, 235);
		font-style: oblique;
	}
}

.list {
	margin-top: 20px;
	display: flex;
	align-items: center;
	overflow-x: auto;
	gap: 16px;
	padding-bottom: 12px;

	/* width */
	&::-webkit-scrollbar {
		height: 4px;
	}
}

.item {
	min-width: 244px;
	border-radius: 8px;
	padding: 8px;
	background-color: #e8e8e8;
	display: flex;
	gap: 10px;
	transition: 0.3s;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		transform: scale(0.9);
	}
}

.box_image {
	width: 80px;
	height: 80px;
}

.image {
	border-radius: 8px;
}

.number {
	font-size: 20px;
	font-weight: 600;
}

.info {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.name {
	text-transform: capitalize;
	font-size: 24px;
	font-weight: 700;
}

// .item {
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	flex-direction: column;
// 	background: #edf2f6;
// 	padding: 16px 24px;
// 	border-radius: 12px;
// 	transition: 0.3s;

// 	&:hover {
// 		background: #ffffff;
// 		box-shadow: 0px 2px 16px -3px rgba(3, 9, 50, 0.07),
// 			0px 30px 32px -3px rgba(3, 9, 50, 0.08);
// 	}
// }

// .box_image {
// 	width: 80px;
// 	height: 80px;
// }

// .image {
// 	border-radius: 50%;
// }

// .name {
// 	margin-top: 6px;
// 	font-size: 20px;
// 	font-weight: 600;
// 	text-transform: uppercase;
// 	font-style: oblique;
// }
