.groupCalendar {
	display: flex;
}

.main {
	display: inline-block;
	padding: 12px;
}

.rows {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

	& + .rows {
		margin-top: 3px;
	}
}

.day {
	color: #828ea7;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px 10px;
}

.date {
	--color: #b9d7ff;
	padding: 4px 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: 0s;
	user-select: none;
	color: #303b48;
	font-weight: 600;
	height: 36px;

	&.active {
		background-color: #0060af;
		border: 1px solid #0060af;
		color: #ffffff;
	}

	&.disable {
		pointer-events: none !important;
		opacity: 0.3 !important;
		user-select: none;
		color: #303b48 !important;
		background-color: #ffffff !important;
		border: none !important;
	}

	&:hover {
		opacity: 0.6;
	}
}

.currentDate {
	border: 1px solid #0060af;
}

.dataMonth {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 6px;
}

.itemMonth {
	padding: 4px 8px;
	text-align: center;
	cursor: pointer;
	user-select: none;
	border-radius: 4px;
	font-size: 15px;
	font-weight: 500;

	&.active {
		background-color: #0060af;
		color: #ffffff;
		&:hover {
			opacity: 1;
			background-color: #0060af;
			color: #ffffff;
		}
	}

	&:hover {
		opacity: 0.7;
		background-color: #f5f5f5;
	}
}
