.container {
	margin-top: 48px;
}

.line {
	width: 100%;
	height: 1px;
	background: #c4c4c4;
}

.title {
	padding: 12px 0;
	font-size: 24px;
	color: #1e1e23;
	font-weight: 700;
	margin-bottom: 12px;
}
