.container {
	padding: 24px 0;
}

.title {
	text-align: center;
	font-weight: 600;
	font-size: 26px;
	color: #29303c;
	margin-bottom: 20px;
}

.empty {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.text_empty {
	font-size: 16px;
}
