.container {
	width: 172px;
	padding: 12px;
	background: #ffffff;
	margin-top: 6px;
	box-shadow: 0px 71px 251px rgba(123, 142, 163, 0.07),
		0px 29.6621px 114.189px rgba(123, 142, 163, 0.0529135),
		0px 15.8588px 57.9577px rgba(123, 142, 163, 0.0470784),
		0px 8.8903px 26.676px rgba(123, 142, 163, 0.0426209),
		0px 4.72157px 9.28936px rgba(123, 142, 163, 0.0373072),
		0px 1.96475px 1.20887px rgba(123, 142, 163, 0.028439);
	border-radius: 10px;
	z-index: 1000;
}

.item {
	cursor: pointer;
	user-select: none;
	display: flex;
	align-items: center;
	padding: 6px 4px;
	border-radius: 6px;
	gap: 8px;
	transition: 0.3s;

	& + .item {
		margin-top: 4px;
	}

	&:hover {
		background: #f8f8f8;
	}

	&.active {
		background: #f8f8f8;
	}

	.icon {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.text {
		font-weight: 500;
		font-size: 14px;
		color: #303c4f;
	}
}
