@import '../../../../styles/variables';

.container {
	padding: 24px 0;
}

.main {
	margin-top: 40px;
	display: grid;
	grid-template-columns: 280px 1fr;
	gap: 44px;
}

.list {
	margin-top: 24px;
	margin-bottom: 40px;
}

@media (max-width: $widthTablet) {
	.main {
		margin-top: 40px;
		display: grid;
		grid-template-columns: 1fr;
		gap: 0px;
	}
}
