@import '../../../styles/color';
@import '../../../styles/variables';

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	box-shadow: 0px 4px 4px rgba(210, 210, 210, 0.25);
	transition: top 0.4s;
	z-index: 1;

	&.active {
		box-shadow: 0px 4px 4px rgba(210, 210, 210, 0.25);
		background-color: $bg_light;
		z-index: 10;
	}

	&.scroll {
		top: calc(($heightHeader) * -1);
		box-shadow: 0px 4px 4px rgba(210, 210, 210, 0.25);
	}
}

.main {
	position: relative;
	min-height: 90vh;
	margin-top: calc($heightHeader);
	// background-color: #f6fbff;
	// z-index: -1;
}
