.container {
	padding: 40px 20px 30px 30px;
}

.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 32px;
}

.title {
	font-size: 16px;
	font-weight: 700;
}

.add {
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	color: #1a9cb7;
}

.item {
	cursor: pointer;
	padding: 12px;
	border: 1px solid #dadada;
	border-radius: 4px;

	& + .item {
		margin-top: 12px;
	}

	&.active {
		border: 1px solid red;
	}
}

.top {
	display: flex;
	align-items: center;
	gap: 24px;
}

.name {
	font-size: 16px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.88);
}

.line {
	height: 20px;
	width: 1px;
	background-color: #8b8b8b;
}

.phone {
	font-size: 14px;
	font-weight: 600;
}

.bottom {
	margin-top: 8px;
	display: flex;
	align-items: center;
	gap: 12px;
}

.category {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px 10px;
	border-radius: 4px;
	background-color: red;

	.text {
		color: #fff;
		font-size: 14px;
		font-weight: 600;
	}
}

.address {
	font-size: 14px;
	font-weight: 500;
	flex: 1;
}
