.container {
	position: relative;

	&.fullHeight {
		height: 100%;
	}
}

.main {
	position: relative;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-top: 45.25%;
	width: 100%;
	overflow: hidden;

	&.fullHeight {
		height: 100%;
	}
}

.style_3_5 {
	position: relative;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-top: 60%;
	width: 100%;
	overflow: hidden;
}

.style_13_9 {
	position: relative;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-top: 69%;
	width: 100%;
	overflow: hidden;
}

.style_1_3 {
	position: relative;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-top: 33.333333%;
	width: 100%;
	overflow: hidden;
}

.style_1_1 {
	position: relative;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-top: 100%;
	width: 100%;
	overflow: hidden;
}
