@import '../../../styles/variables';

.container {
	padding: 24px 0;
	background-color: #fff;
}

.main {
	margin-top: 24px;
	display: grid;
	grid-template-columns: $widthSideBarProfile 1fr;
	gap: 24px;
}

.bg {
	border-radius: 8px;
	background-color: #ebebf0;
	padding: 20px 32px;
}

.title {
	margin-bottom: 12px;
	font-size: 18px;
}
