@import '../../../../styles/variables';
@import '../../../../styles/color';

.container {
	background: #f1f1f1;
	padding: 10px 16px;
	border-radius: 8px;
}

.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: 18px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.88);
}

.change {
	user-select: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	color: #1a9cb7;
	transition: 0.3s;

	&:active {
		transform: scale(0.9);
	}
}

.content {
	margin-top: 20px;
}

.top {
	display: flex;
	align-items: center;
	gap: 24px;
}

.name {
	font-size: 16px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.88);
}

.line {
	height: 20px;
	width: 1px;
	background-color: #8b8b8b;
}

.phone {
	font-size: 14px;
	font-weight: 600;
}

.bottom {
	margin-top: 8px;
	display: flex;
	align-items: center;
	gap: 12px;
}

.category {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px 10px;
	border-radius: 4px;
	background-color: red;

	.text {
		color: #fff;
		font-size: 14px;
		font-weight: 600;
	}
}

.address {
	font-size: 16px;
	font-weight: 500;
}

.list_address {
	position: fixed;
	top: 0;
	bottom: 0;
	right: -$widthAddressClose;
	width: $widthAddress;
	background-color: $bg_light;
	z-index: 100;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
	transition: all 0.6s cubic-bezier(0.17, 0.84, 0.44, 1);

	&.open {
		right: 0;
		transition: all 0.6s cubic-bezier(0.17, 0.84, 0.44, 1);
	}
}

.note {
	margin-top: 24px;
}

.lable {
	font-size: 16px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.88);
	margin-bottom: 8px;
}

.input {
	width: 100%;
	padding: 8px 20px;
	color: rgba(0, 0, 0, 0.88);
	font-size: 16px;
	font-weight: 500;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #d9d9d9;
	border-radius: 6px;
	transition: all 0.2s;
}
