.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    font-size: 24px;
    color: #303b48;
    margin-top: 16px;
  }

  p {
    font-size: 14px;
    color: #515c69;
    margin-top: 4px;
  }
}

.img {
  width: 164px;
}

.icon {
  padding-top: 83%;
}

.btn {
  margin-top: 20px;
}
