// Background
$bg_light: #fff;
$bg_primary: #0060af;
$bg_primary_2: #0060af;
$bg_secondary: #2a85ff;
$bg_secondary_1: #c8c4c4;
$bg_secondary_2: #b8a7fc;
$bg_red: #d5444a;
$bg_dark: rgb(0, 0, 0);

// Text
$t_light: #fff;
$t_neutrals: #29303c;
$t_neutrals_1: #535763;
$t_des: #788a9b;
$t_primary: #0060af;
$t_secondary: #c6dced;
$t_secondary_2: #b8a7fc;
$t_red: #d5444a;
