$heightHeader: 84px;
$widthCart: 540px;
$widthCartClose: calc($widthCart + 10px);

$widthAddress: 480px;
$widthAddressClose: calc($widthCart + 10px);

$widthTablet: 1200px;
$widthMobile: 768px;

$widthSideBarProfile: 320px;
