@import './anim';
@import './grid';
@import './color';
@import './stylesGlobals';

:root {
	--toastify-toast-min-height: 48px !important;
}

html,
body {
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	::-moz-selection {
		color: $t_light;
		background: $bg_primary;
	}

	::selection {
		color: $t_light;
		background: $bg_primary;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}
body {
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
	outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

//progress Page
/* Make clicks pass-through */
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: $bg_red;
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
}

/* Fancy blur effect */
#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px $bg_primary, 0 0 5px $bg_primary;
	opacity: 1;

	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 1031;
	top: 15px;
	right: 15px;
}

#nprogress .spinner-icon {
	width: 18px;
	height: 18px;
	box-sizing: border-box;

	border: solid 2px transparent;
	border-top-color: $bg_primary;
	border-left-color: $bg_primary;
	border-radius: 50%;

	-webkit-animation: nprogress-spinner 400ms linear infinite;
	animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
	position: absolute;
}

@-webkit-keyframes nprogress-spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes nprogress-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#walktour-portal {
	border: none !important;
	* {
		border: none !important;

		&:focus {
			border: none !important;
		}

		&:active {
			border: none !important;
		}
	}

	rect {
		fill-opacity: 0.6 !important;
	}
}

.toastify-custom {
	color: $t_light !important;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6) !important;
}

.toastify-custom-success {
	color: $t_light !important ;
	text-align: center;
	background-color: rgba(19, 199, 2, 0.7) !important;
}

.toastify-custom-info {
	color: $t_light !important;
	text-align: center;
	background-color: rgba(0, 117, 226, 0.7) !important;
}

.toastify-custom-error {
	color: $t_light !important;
	text-align: center;
	background-color: rgba(255, 0, 0, 0.7) !important;
}

.toastify-custom-warn {
	color: $t_light !important;
	text-align: center;
	background-color: rgba(255, 191, 0, 0.7) !important;
}

// Custom slider antd
.ant-slider-horizontal .ant-slider-rail {
	height: 10px !important;
	background: #eaeef3 !important;
	border-radius: 50px !important;
}

.ant-slider-horizontal .ant-slider-track {
	height: 10px !important;
	border-radius: 50px !important;
	background: #0060af !important;
}

.ant-slider .ant-slider-handle {
	inset-block-start: 2px !important;
}

.ant-slider .ant-slider-handle:focus::after {
	box-shadow: none;
}

.ant-slider .ant-slider-handle::after {
	inset-block-start: 2px !important;
}

.ant-slider .ant-slider-handle:hover::after {
	box-shadow: 0 0 0 0 #1677ff !important;
}

.ant-tooltip-inner {
	position: relative !important;
	background: transparent !important;
	color: #1a1b2d !important;
	bottom: -16px !important;
	box-shadow: none !important;

	&::before {
		content: '' !important;
		position: absolute !important;
		left: 0 !important;
		margin-right: 2px !important;
	}
}

.ant-slider-horizontal .ant-slider-step {
	height: 10px !important;
}

.ant-tooltip-arrow {
	display: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

/* Custom Slick Dots */

.ft-slick__dots--custom {
	height: 6px;
	width: 18px;
	background-color: #8895a1;
	border-radius: 4px;
	position: relative;
	margin-top: 14px;
}

.slick-dots li {
	width: 18px;
	margin: 0 2px;
	transition: width 0.3s ease-in-out;
}

.slick-dots .slick-active {
	width: 18px;
	transition: width 0.3s ease-in-out;
}

.slick-dots .slick-active .ft-slick__dots--custom {
	width: 18px;
	top: 0px;
	overflow: hidden;

	.loading {
		height: 8px;
		animation: loading 3s ease-in;
		background: #3dc5ff;
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 4px;
	}
}

.slick-prev,
.slick-next {
	color: #99a2b3 !important;
}

.slick-prev {
	left: -32px !important;
}

.slick-next {
	right: -32px !important;
}

// Custom react-datepicker
.react-datepicker-wrapper {
	height: 100% !important;
	display: flex !important;
	align-items: center !important;
}
.react-datepicker__input-container {
	height: 100% !important;
	display: flex !important;
	align-items: center !important;

	input {
		width: 100%;
		min-height: 48px;
		height: 100%;
		border: none;
		outline: none;
		padding-left: 8px;
		background-color: #f7f8fb;
	}
}

@keyframes loading {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}
